<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Quizzer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
</head>

<body style="padding: 15px">
    <div class="container">
        <h1 class="mb-3" th:text="${quiz.name}">Quiz Name</h1>
        <h1 class="mb-3">Add a question</h1>
        <form th:object="${question}" th:action="@{savequestion}" method="post">
            <div class="mb-3">
                <label class="form-label" for="questionText">Question</label>
                <input class="form-control" type="text" id="questionText" th:field="*{questionText}">
            </div>
            <div class="mb-3">
                <label class="form-label" for="difficulty">Difficulty</label>
                <select class="form-control" id="difficulty" th:field="*{difficulty}">
                    <option th:each="difficulty : ${difficulties}" th:value="${difficulty}" th:text="${difficulty}">
                        Difficulty</option>
                </select>
            </div>
            <input class="btn btn-primary" type="submit" value="Save" />
            <a class="btn btn-secondary " href=/quizzes>Cancel</a>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Question Text</th>
                    <th>Difficulty</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="question : ${questions}">
                    <td th:text="${question.questionText}">Quiz Name</td>
                    <td th:text="${question.difficulty}">Quiz Name</td>
                    <td>
                        <a class="btn btn-success"
                            th:href="@{/quizzes/{quizId}/editquestion/{questionId}(quizId=${quiz.quizId}, questionId=${question.questionId})}">Edit</a>
                    </td>
                    <td>
                        <form
                            th:action="@{/quizzes/{quizId}/deletequestion/{questionId}(quizId=${question.quiz.quizId}, questionId=${question.questionId})}"
                            method="get" style="display:inline;">
                            <input class="btn btn-danger btn-sm" type="submit" value="Delete"
                                onclick="return confirm('Are you sure you want to delete this question?');" />
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>