<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Quizzer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
</head>

<body style="padding: 15px">
    <div class="container">
        <h1>Edit answer</h1>
            <form th:object="${answer}" th:action="@{/questions/{questionId}/saveanswer(questionId=${questionId})}" method="post">
            <div>
                <input type="hidden" th:field="*{answerId}" readonly="readonly">
            </div>
            <div class="mb-3">
                <label class="form-label" for="answerText">Option</label>
                <input class="form-control" type="text" id="answerText" th:field="*{answerText}">
            </div>
            <div class="mb-3">
                <label class="form-label" for="isRight">Answer Status</label>
                <select class="form-control" id="isRight" th:field="*{isRight}">
                    <option value="true">Right Answer</option>
                    <option value="false">Wrong Answer</option>
                </select>
            </div>
            <input class="btn btn-primary" type="submit" value="Save" />
            <a class="btn btn-secondary " href=/quizzes>Cancel</a>
        </form>
    </div>
</body>

</html>
